<div class="landing-container">
  <header class="landing-header">
    <div class="logo">Finansmart</div>
    <div class="auth-buttons">
      <button class="btn-header" (click)="goToLogin()">Iniciar Sesión</button>
      <button class="btn-header" (click)="goToRegister()">Regístrate</button>
    </div>
  </header>

  <main class="landing-main">
    <h1>Gestiona tus bonos de forma inteligente</h1>
    <p>
      Con Finansmart puedes crear bonos corporativos, visualizar sus flujos de
      pago y tomar decisiones financieras mejor informadas.
    </p>

    <button class="btn-header" (click)="goToRegister()">Comienza ahora</button>
  </main>
</div>
