.btn-submit {
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #388E3C;
    transform: translateY(-3px);
}

input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}   